ul,
li {
    list-style-position: inside;
}

#event-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
    margin: 0 auto;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: var(--primary-background-color);
    color: white;
    margin-top: 32px;
    padding: 16px 8px;
}

#event-form input,
#create-event-button,
#eventDescription {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;

}