body {
    background-color: var(--secondary-background-color);
}

main {
    width: 80%;
    margin: 32px auto;
}

#intro h2 {
    text-align: center;
    margin-bottom: 16px;
}

#intro {
    /* text-align: center; */
    background-color: var(--primary-background-color);
    color: white;
    width: auto;
    padding: 16px 8px;
}

#event-list {
    background-color: var(--primary-background-color);
    color: white;
    margin-top: 32px;
    padding: 16px 8px;

}

#event-list li {
    list-style: none;
    margin: 8px;
}

.event-item {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: black;
    /* max-width: 600px; */
}