body {
    /* background-image: url(../assets/come-into-the-light.jpg);
    background-size: cover;
    background-position: center; */
    background-color: var(--primary-background-color);
}

#image-gallery {
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* background-color: var(--secondary-background-color); */
    margin: 20px 0;
}

.image-container {
    width: 80%;
    max-height: 85vh;
    display: none;
    /* text-align: center; */
    justify-content: center;


}

.gallery-image {
    max-width: 100%;
    max-height: 85vh;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 8px 0;
}

.image-container.active {
    display: flex;
}

.img-nav {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    z-index: 2;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}