* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --header-background-color: #F4C75B;
    --header-text-color: #372819;
    --secondary-background-color: rgba(245, 245, 220, 0.8);
    --primary-background-color: #2E4A28;
    /* --primary-background-color: #8B5E3C; */
    --secondary-background-color: rgba(244, 199, 91, 0.7);
    --primary-text-color: #F4C75B;
    --secondary-text-color: #9BB685;
}

body {
    font-family: Arial, sans-serif;
    color: var(--primary-text-color);
}


header {
    text-align: center;
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    position: sticky;
    z-index: 2;
    width: 100%;
    padding: 8px;
    position: sticky;
    top: 0;
}

.logo {
    width: 100px;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#menu-icon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}

#menu-icon span {
    display: block;
    width: 28px;
    height: 4px;
    margin: 4px 0;
    background: var(--header-text-color);
    border-radius: 2px;
    transition: 0.3s;
    list-style: none;

}

#main-nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--primary-text-color);
    border: 2px solid var(--header-text-color);
    color: var(--header-text-color);
    width: 200px;
    border-radius: 4px;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

#main-nav li {
    position: relative;
}

#main-nav li:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#main-nav li a {
    color: inherit;
    text-decoration: none;
    position: relative;
    padding: 10px 20px;
    display: inline-block;
    width: 100%;
    height: 100%;
}