section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.image-container {
    flex-basis: 60%;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.section-content {
    flex-basis: 40%;
    padding: 8px;
    background-color: var(--primary-background-color);
    /* color: var(--primary-text-color); */
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-content h2 {
    padding-bottom: 8px;
    text-align: center;
    color: var(--primary-text-color);
}

.section-content p {
    line-height: 1.5;
    text-align: justify;
    padding: 16px;
}

#core-values ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 16px;

}

#core-values li {
    margin-bottom: 8px;
    text-align: justify;
}

#core-values li::first-letter {
    color: var(--primary-text-color);
}

/* #mission-statement .section-content {
    background-color: #2D5016;
}

#core-values .section-content {
    background-color: #8A9A5B;
}

#vision {
    background-color: #B7410E;
} */

@media screen and (max-width: 600px) {

    /* Styles for mobile devices */
    section {
        flex-direction: column;
    }

    .image-container,
    .section-content {
        flex-basis: 100%;
    }

    .image-container {
        display: flex;
    }
}

@media screen and (min-width: 601px) {
    #vision .image-container {
        order: 2;
    }

}